

.main-section {
    overflow: hidden;
}

.home {
    background-image: url('../Assets/Rectangle\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 14rem 0rem; */
}

.title h1 {

    font-weight: 700;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.title h2 {

    font-weight: 400;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

.buyer {
    padding: 30px 0px;
    font-family: 'Poppins', sans-serif;
}

.buyer-one {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.buyer-two {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
}

.searchBtn {
    display: flex;
    justify-content: start;
    align-items: center;
}

.searchBtn:hover {
    background-color: #EB7150;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px
}

.searchBtn {
    padding: 12px 20px;
    color: #FFFFFF;
    background-color: #00732F;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}
/* @media only screen and (max-width: 425px){
    .home{
        width: 313px;
    }
} */
@media only screen and (max-width: 600px) {
    .title h1 {
        font-size: 30px;
    }

    .title h2 {
        font-size: 30px;
    }

    .service {
        flex-direction: column;
    }

    .search-field {
        width: 313px;
    }

    .home {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
}



@media only screen and (min-width: 600px) {
    .title h1 {
        font-size: 30px;
    }

    .title h2 {
        font-size: 30px;
    }

    .service {
        flex-direction: column;
    }

    .search-field {
        width: 400px;
    }
    .home {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 768px){
    .home {
        padding-top: 7rem;
        padding-bottom: 4rem;
    }
}

@media only screen and (min-width: 992px) {

    .title h1,
    .title h2 {
        font-size: 55px;

    }

    .service {
        flex-direction: row;
    }
    .home {
        padding-top: 10rem;
        padding-bottom: 6rem;
    }

}
@media only screen and (min-width: 1200px){
    .home {
        padding-top: 12rem;
        padding-bottom: 7rem;
    }
}